{% extends 'admin_layout.html' %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
      <!-- Default panel contents -->
          <div class="panel-heading">留言列表</div>

          <!-- Table -->
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>留言内容</th>
                <th>留言时间</th>
                <th>留言者</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                  <td>
                      <a class="btn btn-danger" href="/admin/reply/words">回复</a>
                      <a class="btn btn-primary">删除</a>
                  </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
                  <td>
                      <a class="btn btn-danger" href="/admin/reply/words">回复</a>
                      <a class="btn btn-primary">删除</a>
                  </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
                  <td>
                      <a class="btn btn-danger" href="/admin/reply/words">回复</a>
                      <a class="btn btn-primary">删除</a>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

{% endblock %}