{% extends 'home_layout.html' %}
{% load static %}
{% block title %}购物车{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/carts.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="cart-filter-bar">
        <ul class="switch-cart">
            <li class="switch-cart-item"><em>全部商品</em><span class="number">2</span></a>
            </li>
        </ul>
    </div>
    <hr style="height:5px;border-color:#e2231a;"/>
    <section class="cartMain">
        <!--表头-->
        <div class="cartMain_hd">
            <ul class="order_lists cartTop">
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <li class="list_chk">
                        <!--所有商品全选-->
                        <input type="checkbox" id="all" class="whole_check">
                        <label for="all"></label>
                        全选
                    </li>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-sm-pull-1 hidden-xs">
                    <li class="list_con"><b>商品信息</b></li>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                    <li class="list_info"><b>商品参数</b></li>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
                    <li class="list_price"><b>单价</b></li>
                </div>

                <div class="col-lg-1 col-md-1 col-sm-2 hidden-xs">
                    <li class="list_amount"><b>数量</b></li>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 hidden-sm hidden-xs">
                    <li class="list_sum"><b>金额</b></li>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1 hidden-xs">
                    <li class="list_op"><b>操作</b></li>
                </div>
            </ul>
        </div>

        <!--第一件商品-->
        <div class="cartBox">
            <div class="order_content">
                <ul class="order_lists">
                    <div class="row" style="padding-bottom: 15px;">
                        <!--复选框-->
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-left: 5px;">
                            <li class="list_chk">
                                <input type="checkbox" id="checkbox_2" class="son_check">
                                <label for="checkbox_2"></label>
                            </li>
                        </div>
                        <!--商品信息/图片-->
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <li class="list_con">
                                <div class="list_img"><a href="javascript:;"><img src="{% static 'img/good1.jpg' %}"
                                                                                  alt=""></a></div>
                            </li>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6" style="padding-left: 0;">
                            <li class="list_con hidden-xs">
                                <div class="list_text" style="padding-left: 15px;"><a href="javascript:;">标语印花棉质宽松 T 恤
                                    (黑色) - 男士</a></div>
                            </li>
                        </div>
                        <!--商品参数-->
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                            <li class="list_info" style="padding-top: 20px;">
                                <p>规格：默认</p>
                            </li>
                        </div>
                        <!--单价-->
                        <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
                            <li class="list_price">
                                <p class="price" style="font-size: larger;color: red; font-family: microsoft yahei;">
                                    ￥50</p>
                            </li>
                        </div>
                        <!--数量-->
                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-9">
                            <li class="list_amount">
                                <div class="amount_box">
                                    <a href="javascript:;" class="reduce reSty" style="text-decoration: none;">-</a>
                                    <input type="text" value="1" class="sum" style="height: 23px;width: 41px;">
                                    <a href="javascript:;" class="plus" style="text-decoration: none;">+</a>
                                </div>
                            </li>
                        </div>
                        <!--金额-->
                        <div class="col-lg-1 col-md-1 col-sm-1 hidden-sm hidden-xs">
                            <li class="list_sum">
                                <p class="sum_price" style="font-size: larger; font-family: microsoft yahei;">￥50</p>
                            </li>
                        </div>
                        <!--操作-->
                        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-3">
                            <li class="list_op">
                                <p class="del">
                                    <button type="button" class="btn btn-danger delBtn" style="font-family: helvetica;">
                                        删除
                                    </button>
                                </p>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

        <!--第二件商品-->
        <div class="cartBox">
            <div class="order_content">
                <ul class="order_lists">
                    <div class="row" style="padding-bottom: 15px;">
                        <!--复选框-->
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding-left: 5px;">
                            <li class="list_chk">
                                <input type="checkbox" id="checkbox_3" class="son_check">
                                <label for="checkbox_3"></label>
                            </li>
                        </div>
                        <!--商品信息/图片-->
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
                            <li class="list_con">
                                <div class="list_img"><a href="javascript:;"><img src="{% static 'img/good2.jpg' %}"
                                                                                  alt=""></a></div>
                            </li>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6" style="padding-left: 0;">
                            <li class="list_con hidden-xs">
                                <div class="list_text" style="padding-left: 15px;"><a href="javascript:;">短袖t恤男韩版潮流半袖上衣夏季宽松T恤</a>
                                </div>
                            </li>
                        </div>
                        <!--商品参数-->
                        <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                            <li class="list_info" style="padding-top: 20px;">
                                <p>规格：默认</p>
                            </li>
                        </div>
                        <!--单价-->
                        <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
                            <li class="list_price">
                                <p class="price" style="font-size: larger;color: red; font-family: microsoft yahei;">
                                    ￥60</p>
                            </li>
                        </div>
                        <!--数量-->
                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-9">
                            <li class="list_amount">
                                <div class="amount_box">
                                    <a href="javascript:;" class="reduce reSty" style="text-decoration: none;">-</a>
                                    <input type="text" value="1" class="sum" style="height: 23px;width: 41px;">
                                    <a href="javascript:;" class="plus" style="text-decoration: none;">+</a>
                                </div>
                            </li>
                        </div>
                        <!--金额-->
                        <div class="col-lg-1 col-md-1 col-sm-1 hidden-sm hidden-xs">
                            <li class="list_sum">
                                <p class="sum_price" style="font-size: larger; font-family: microsoft yahei;">￥60</p>
                            </li>
                        </div>
                        <!--操作-->
                        <div class="col-lg-2 col-md-2 col-sm-1 col-xs-3">
                            <li class="list_op">
                                <p class="del">
                                    <button type="button" class="btn btn-danger delBtn" style="font-family: helvetica;">
                                        删除
                                    </button>
                                </p>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </section>

    <!--底部-->
    <div class="row" style="background: #e5e5e5;margin: 0 0;">
        <div class="bar-right">
            <div class="piece">已选商品<strong class="piece_num">0</strong>件</div>
            <div class="totalMoney">共计:<strong class="total_text">0.00</strong></div>
            <div class="calBtn"><a href="/shop/user/order/processing/">结算</a></div>
        </div>
    </div>

    <!--删除提示框-->
    <section class="my_model" style="height: 15%;">
        <p class="title">删除宝贝<span class="closeModel">X</span></p>
        <p>您确认要删除该宝贝吗？</p>
        <div class="opBtn"><a href="javascript:;" class="dialog-sure">确定</a><a href="javascript:;" class="dialog-close">关闭</a>
        </div>
    </section>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/carts.js' %}"></script>
{% endblock %}