{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>消息中心</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container" style="margin-top:20px;">
    <div class="panel panel-default">
        <div class="panel-heading">
                消息中心
        </div>
        <div class="panel-body" style="border:1px solid #dddddd;">
            <div>退款问题：</div>
            1月份买的裙子迟迟没有退款，但显示是处理成功
            <div align="right">2021-3-4</div>
            <div>管理员回复：</div>
            <div>感谢您的反馈，我们将快速处理该问题</div>
        </div>
        <div class="panel-body" style="border:1px solid #dddddd;">
            <div>系统问题：</div>
            有闪退问题需要解决
            <div align="right">2021-10-11</div>
            <div>管理员回复：</div>
            <div>感谢您的反馈，我们将尽快进行系统修复</div>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>